<h1 class="col-xs-offset-1 alpha-header">Users.</h1>

<div align="center">
  <%= will_paginate %>
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-xs-4 col-xs-offset-4">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title">
            <%= link_to user.username + ".", user_path(user) %>
          </li>
          <li class="article-description"><small><%= plural_humanize(user.articles.count, "article") if user.articles %></small></li>
          <% if (logged_in? && current_user.admin? && !user.admin?) %>
          <div class="article-actions">
            <%= link_to "Edit.", edit_user_path(user), class: "btn btn-xs btn-primary col-xs-offset-5" %>
            <%= link_to "Delete.", user_path(user), method: :delete, 
                                    data: {confirm: "Delete forever?"}, 
                                    class: "btn btn-xs btn-danger col-xs-offset-3" %>
          </div>
        <% end %>
        </div>
      </div>
    </ul>        
  <% end %>
  <%= will_paginate %>
</div>
