<h1 class="col-xs-offset-1 alpha-header"><%= @category.name %>.</h1>
<div class="col-xs-offset-1">
  <% if (logged_in? && current_user.admin?) %>
      <%= link_to "Edit.", edit_category_path(@category), class: "btn btn-s" %>
  <% end %> 
</div>


<div align="center">
  <%= will_paginate @category_articles %>
</div>

<%= render 'articles/article', obj: @category_articles %>

<div align="center">
  <%= will_paginate @category_articles %>
</div>
